<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/authError.css">
    <title>Estore</title>
</head>

<body>
    <main>
        <section id="error-box">
            <h2 class="error-status-code">
                <%= status  %>
            </h2>
            <h2 class="error-message">
                <%= msg %>
            </h2>
        <a href="/">Go to homepage</a>
        </section>
    </main>
</body>

</html>