<%- include('./partials/header') %>

    <head>
        <link rel="stylesheet" href="/styles/dashboard.css">
    </head>

    <main>
        <section class="dashboard">
            <div class="profile-pic-container">
                <img class="profile-pic" src="/images/shivam2.jpg" alt="">
            </div>
            <div class="user-info-container">
                <h2 class="username">
                    <%= session.username %>
                </h2>
                <h3 class="user-email">
                    <%= session.email %>
                </h3>
            </div>
        </section>
        <div class="options">
            <a href="/auth/dashboard/orders">Order</a>
            <a href="/auth/dashboard/wishlist">Wishlist</a>
        </div>
    </main>