*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    font-family: "Montserrat", "Open Sans", sans-serif, Arial, Helvetica;
}

:root.light-theme,
[data-theme="light"] {
    --primary-color: #2843db;
    --secondary-color: #8b9af4;
    --accent-color: #4964f8;
    --text-color: #04050b;
    --background-color: #eff1fb;
    --add-cart-color : #008b0c;
}

:root.dark-theme,
[data-theme="dark"] {
    --primary-color: #243fd6;
    --secondary-color: #0b1b75;
    --accent-color: #0721b6;
    --text-color: #f4f5fb;
    --background-color: #040610;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
    text-decoration: none;
    list-style: none;
    overflow: scroll;
}

body::-webkit-scrollbar {
    display: none;
}

/* --- utility styles --- */
h1 {
    font-weight: 500;
}

h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

.container {
    width: 80vw;
    margin: 1rem auto;
}

.btn {
    background-color: var(--secondary-color);
    color: var(--background-color);
    font-weight: 600;
    padding: 1rem 2rem;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: var(--accent-color);
    cursor: pointer;
}

.input {
    padding: 1rem 2rem;
    border-radius: 5px;
    border: none;
    outline: none;
}

.input:hover {
    cursor: pointer;
}

.input:focus {
    outline: 1px solid var(--text-color);
}

.flex {
    display: flex;
    gap: 2rem;
}